.cards {
    padding-top: 96px;
}

/*.cards_content {
   padding-top: 96px;*/
/* display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/

.cards_title {
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.cards_filter span {
    font-size: 12px;
    line-height: 13px;
    text-align: right;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    opacity: 0.6;
    margin-right: 10px;
    cursor: pointer;
}

.cards_filter span:last-child {
    margin-right: 0;
}

.filter_tab__show {
    color: red;
}

.card {
    margin-bottom: 30px;
    width: 255px;
    overflow: hidden;
    position: relative;
}

.card_item__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 16px 0;
    text-align: left;
    opacity: 0.6;
    overflow: hidden;
    white-space: pre;
}

.card img {
    width: 100%;
    height: auto;
}

.card_item__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_item__price {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-right:10px;
}

.card_item__description img {
    width: auto;
}

.cards_btn__full {
    display: block;
    width: 100%;
    background: #F8F8F8;
    outline: none;
    border: 2px solid #F8F8F8;
    box-sizing: border-box;
    cursor: pointer;
}

.cards_btn__full span {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    padding: 15.6px 0px 17.4px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    display: block;
    opacity: 0.8;
}

/*Discount*/
.discount_active span {
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px 10px;
}

.discount_active {
    position: absolute;
    width: 53px;
    height: 31px;
    left: 370px;
    top: 884px;
    z-index: 99;
    background: #E91E63;
    top: 0;
    left: 0;
}
.discount_price__active{
    font-weight: bold;
font-size: 12px;
line-height: 13px;
text-decoration-line: line-through;
color: #121212;
opacity: 0.4;
}
/*990*/
@media screen and (min-width:791px) and (max-width:990px) {
    .cards .layouts-2-columns {
        justify-content: space-around;
    }

}

/*790*/
@media screen and (min-width:360px) and (max-width:790px) {

    .cards_title {
        margin-bottom: 20px;
    }

    .cards_filter span {
        margin-right: 7px;
    }

    .cards {
        padding-top: 46px;
    }
}


/******************************************************************************************************/
/*@media screen and (min-width:768px) and (max-width:1109px) {
    .cards .layouts-2-columns {
        justify-content: space-around;
    }
}
@media screen and (min-width:375px) and (max-width:767px) {
    .cards_content {
        flex-direction: column;
        align-items: center;
    }

    .cards_title {
        margin-bottom: 10px;
    }

    .layouts-4-columns {
        justify-content: space-evenly;
    }
}

@media screen and (min-width:320px) and (max-width:374px) {
    .cards {
        padding-top: 46px;
    }
}*/