@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-family: Spartan;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  width: 1110px;
  padding-left: 85px;
  padding-right: 85px;
  margin: 0 auto;
}

.layouts-2-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.layouts-3-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.layouts-4-columns {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.9;
  border: none;
  width: 340px;
  height: 64px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #121212;
}

.btn:hover {
  filter: invert(10%);
  /*временная фишка*/
}

input {
  width: 340px;
  border: none;
  outline: none;
  background-color: #F8F8F8;
  height: 38px;
  border-radius: 5px;
  margin-bottom: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 22px 0px 24px;
  color: #121212;
}

input::placeholder {
  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #121212;
  opacity: 0.4;
  text-align: center;
  padding-left: -16px;
}

/***MEDIA***/
/*media---1300рх до 768рх*/
@media screen and (min-width:1217px) and (max-width:1300px) {


  .wrapper {
    width: 1110px;
    padding-right: 45px;
    padding-left: 45px;
  }

  .layouts-2-columns:not(.sub_block) {
    justify-content: center;
  }

  .layouts-4-columns {
    justify-content: space-evenly;
  }

  .footer_nav .layouts-4-columns {
    justify-content: space-between;
  }
}

/*1090*/
@media screen and (min-width:991px) and (max-width:1216px) {


  .wrapper {
    width: 900px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .layouts-2-columns {
    justify-content: center;
  }

  .layouts-3-columns {
    justify-content: space-around;
  }

  .layouts-4-columns:not(.footer_block__top) {
    justify-content: space-evenly;
  }
}

/*990*/
@media screen and (min-width:791px) and (max-width:990px) {
  .wrapper {
    width: 850px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .layouts-3-columns {
    justify-content: space-evenly;
  }

  .layouts-2-columns {
    justify-content: center;
  }

  .layouts-4-columns {
    justify-content: space-evenly;
  }
}

/*887*/
@media screen and (min-width:791px) and (max-width:887px) {
  .wrapper {
    width: 750px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

/*790*/
@media screen and (min-width:691px) and (max-width:790px) {
  .wrapper {
    width: 650px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .layouts-2-columns {
    justify-content: center;
  }

  .layouts-3-columns {
    justify-content: center;
  }

  .layouts-4-columns {
    justify-content: space-around;
  }
}

/*690*/
@media screen and (min-width:618px) and (max-width:690px) {
  .wrapper {
    width: 540px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .layouts-2-columns {
    justify-content: center;
  }

  .layouts-3-columns {
    justify-content: center;
  }

  .layouts-4-columns {
    justify-content: space-around;
  }
}

/*617*/
@media screen and (min-width:558px) and (max-width:617px) {
  .wrapper {
    width: 520px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .layouts-2-columns {
    justify-content: center;
  }

  .layouts-3-columns:not(.nav_block .layouts-3-columns) {
    justify-content: center;
  }

  .layouts-4-columns {
    justify-content: space-around;
  }
}

/*617*/
@media screen and (min-width:500px) and (max-width:557px) {
  .wrapper {
    width: 360px;
    padding: 0px 35px;
  }

  .layouts-2-columns {
    justify-content: center;
  }

  .layouts-3-columns:not(.nav_block .layouts-3-columns) {
    justify-content: center;
  }

  .layouts-4-columns {
    justify-content: space-around;
  }
}

@media screen and (min-width:359px) and (max-width:499px) {
  .wrapper {
    width: 345px;
    padding: 0px 7px;
  }

  .layouts-2-columns {
    justify-content: center;
  }

  .layouts-3-columns {
    justify-content: center;
  }

  .layouts-4-columns {
    justify-content: space-around;
  }
}


/**********************************************************************************************************************/
/* media*/


/*@media screen and (min-width:1063px) and (max-width:1065px) {
  body {
    max-width: 1063px;
  }

  .wrapper {
    width:935px;
  }

  .layouts-2-columns {
    justify-content: center;
  }

  .layouts-3-columns {
    justify-content: space-around;
  }

  .layouts-4-columns {
    justify-content: space-around;
  }
}
@media screen and (min-width:922px) and (max-width:1062px) {


  .wrapper {
    width:835px;
    padding: 0px 35px 0px 35px;
  }
  .layouts-2-columns {
    justify-content: center;
  }

  .layouts-3-columns {
    justify-content: space-around;
  }

  .layouts-4-columns {
    justify-content: space-around;
  }
}
@media screen and (min-width:862px) and (max-width:921px) {


  .wrapper {
    width:735px;
    padding: 0px 30px 0px 30px;
  }
  .layouts-2-columns {
    justify-content: center;
  }

  .layouts-3-columns {
    justify-content: space-around;
  }

  .layouts-4-columns {
    justify-content: space-around;
  }
}
@media screen and (min-width:768px) and (max-width:861px) {
  body {
    min-width: 768px;
  }
  .wrapper {
    width:635px;
    padding: 0px 20px 0px 20px;
  }
}
/*375*/

/*@media screen and (min-width:375px) and (max-width:767px) {
  body {
    min-width: 375px;
  }

  .wrapper {
    width: 515px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .layouts-2-columns {
    justify-content: center;
  }

  .layouts-3-columns {
    justify-content: center;
  }

  .layouts-4-columns {
    justify-content: space-around;
  }

}

/*320*/
/*@media screen and (min-width:340px) and (max-width:374px) {
  body {
    min-width: 340px;
  }

  .wrapper {
    width:100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}*/