.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
    position: absolute;
}

.swiper-button-prev {
    background-image: url('./assets/arrow_left.png');
    left: 24px;
}

 .swiper-button-next {
    background-image: url('./assets/arrow_right.png');
    right: 24px;
}

.swiper {
    margin-left: 0;
    margin-right: 0;
    position: unset;
}

.main_block .slider {
    position: relative;
    width: 100%;
    height: 100%;
}

/*.swipers {
    height: 450px;
}*/
.gallery_block__choose .swipers, .gallery_block__preview .swipers {
    height: 560px;
}


@media screen and (min-width:991px) and (max-width:1216px) {
    .main_block .slides img {
        width: 720px;
    }
}

@media screen and (min-width:430px) and (max-width:560px) {
    .main_block .slides img {
        width: 420px;
    }
}

@media screen and (min-width:320px) and (max-width:429px) {
    .main_block .slides img {
        width: 315px;
    }
}